# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Production Build Outputs
dist/
frontend/dist/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eslint.config.js.bak
